Start of about-section styles
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
    font-family: 'Phantom Sans';
    src: url('../assets/Fonts/Regular.woff') format('woff'),
        url('../assets/Fonts/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('../assets/Fonts/Italic.woff') format('woff'),
        url('../assets/Fonts/Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('../assets/Fonts/Bold.woff') format('woff'),
        url('../assets/Fonts/Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 !important;
}

#about-section {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 2vw;
    margin: 0;
}


#about-section_text>h1 {
    font-family: 'Phantom Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 6vw;
    margin: 2vh 2vw 2vh 0;
}

#about-section_text>p {
    font-family: 'Phantom Sans';
    font-style: normal;
    font-weight: 10;
    font-size: 2vw;
    line-height: 3vw;
    color: rgba(0, 0, 0, 0.47);
    margin: 2vh 0 2vh 0;
}

#about-img {
    width: 30vw;
    height: auto;
}

/* for mobile width styles */
@media (max-width: 480px){
    #about-section{
        flex-direction: column;
        padding-left: 0;
    }
    #about-img{
        width: 95vw;
        height: auto;
    }
    #about-section_text{
        text-align: justify;
    }
    #about-section_text > h1{
        font-size: 40px;
        line-height: 45px;
        padding: 0 3% 0 3% ;

    }
    #about-section_text > p{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 5px;
        padding: 0 3% 0 3% ;
    }
}

/* End of about-section styles */

/* Start of code-section styles */


#heading{
    /* position:absolute;
    width:1040px;
    height: 84px;
    left: 275px;
    top: 900px; */

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    text-align: right;
    /* margin-right: 50px; */
    font-size: 80px;
    line-height: 84px;
    color: white;
}




#description{
    /* position: absolute;
    width: 911px;
    /* height: 146px; */
    text-align: right;
    /* padding-right: 50px; */
    

    font-family: 'Phantom Sans 0.7';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;

    color: white;
}