* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.nav-tags {
  list-style: none;
  font-family: 'Abel';
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3px;
  background: #272121;
  height: 75px;
}

.nav-tags {
  list-style: none;
  font-size:1.5rem;
}

.nav-tags:hover {
  /* color: linear-gradient(to left top, #E20203, #F87A3D); */
  color:  #E20203;
}


.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px
}


.hamburger {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px) {
  .hamburger {
    position: relative;
    visibility: visible;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-content {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    transition: 0.3s;
    text-align: center;
    width: 100%;
    background: #272121;
  }

  .nav-tags {
    margin: 16px 0;
  }

  .nav-content.active {
/* fixing the hidden menu bar. Also HackClub logo gets hidden under it. PLus the menu bar is no more sticky. Bad UX  - Srijan */
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100px;
  }
}
