
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
  }
@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #252422;
    font-family: "Montserrat";
    color: #ffffff;
  }